/* Minimal css reset */
html, body, div, h1, h2, input {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
}

/* Actual styling starts here */
body {
    width: 100%;
    font-family: "MuseoSans500";
}

h1 {
    text-align: center;
    font-family: "MuseoSlab500";
}

button {
    background-color: #FFFFFF;
    border: 1px solid #000;
}

input[type="text"] {
    border: 0;
    font-size: 1.5em;
    width: 100%;
}

div#header {
    font-size: 2.5em;
    height: 2em;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #000;
}

div.subheader, div.playlist, div.track, div.new, div.back {
    height: 2em;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid #000;
    font-size: 1.5em;
    overflow: hidden;
    white-space: nowrap;
}

div.controls {
    width: 5%;
    float: left;
    text-align: right;
}

div.spin {
    float: left;
    text-align: right;
    width: 5%;
}

div.spin div {
    top: -0.25em;
}

div.name {
    width: 90%;
    float: left;
}

div#header {
    background-color: #63597F;
    color: #FFFFFF;
}

div.subheader {
    background-color: #C7B2FF;
}

div.playlist, div.track, div.new, div.back {
    background-color: #FFFFFF;
}

div.now-playing {
    background-color: #e3d9ff;
}

